/* Elements */

body{
  margin: 20px;
  background-color: #171717;
}


/* Classes */

.title{
  color: #EDEDED;
}

/* Id */


/* Bootstrap  */

/* Switch info */
.form-check-input:checked {
    background-color: #DA0037;
    border-color: #DA0037;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='pink'/%3e%3c/svg%3e");
}

.switch-text{
  color: white;
}

/* Login button */
.btn{
  background-color:  #DA0037;
}
